# Environment variables
.env
.env.local
.env.*

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
bin/
obj/
[Bb]in/
[Oo]bj/

# Visual Studio files
.vs/
*.user
*.userosscache
*.suo
*.userprefs
*.vspscc
*.vssscc
.vscode/

# Visual Studio Code
.vscode/
*.code-workspace

Tiketix/bin/
Tiketix/obj/
Contracts/bin/
Contracts/obj/
Entities/bin/
Entities/obj/
EventClients.Presentation/bin/
EventClients.Presentation/obj/
Repository/bin/
Repository/obj/
Service/bin/
Service/obj/
Service.Contracts/bin/
Service.Contracts/obj/
Shared/obj/
Shared/bin/
